@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,400i,500,500i,600,700&amp;subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Martel:300,400,700,800');
html, body, table, form, input, td, th, p, textarea, select,
#jenkins .yui-button .btn, #jenkins .yui-button button {
    font-family: Raleway,Arial,Sans-serif;
    font-size: 16px;
    color: #001022;
}

#page-head {
    box-shadow: rgb(0 0 0 / 42%) 0 0 5.4rem;
}

#breadcrumbs {
    background: #ffcb00;
    border-bottom: .0625rem solid #ccc;
}

#search-box {
    box-shadow: none;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid #001022;
    border-radius: 0;
    background: white;
    color: #001022;
}

#header {
  background-color: white;
  height: 50px;
  border-top: .375rem solid #ffcb00;
}

#header .login {
    float: right !important;
}

#header .searchbox, #header .login {
    float: left;
}

#jenkins-head-icon {
    display: none;
}
#jenkins-name-icon {
    content:url("https://img.loccitane.com/ocms/img/occ2016/logo.svg");
    bottom: 0;
}

#jenkins-home-link {
  position: absolute;
  height: 36px;
}

#visible-am-button {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    background-color: black !important;
    color: #fff;
    margin: 0;
    line-height: 40px;
    text-decoration: none;
    min-width: 2em;
    display: inline-block;
    position: relative;
    transition: all .1s;
}
#visible-am-button:hover, #visible-am-button:focus, #visible-am-button:active {
    background: #ffcb00 !important;
}

#header .login {
  position: relative;
  top: 6px;
  color: black;
  margin-right: 10px;
}
#header .login a, #header .login a:visited {
  color: black;
  text-decoration: none;
  font-weight: 300;
}
a:link, a:visited {
  text-decoration: none;
  color: black;
}
.tabBar .tab a.addTab {
  font-weight: bold;
  color: #ffcb00;
  border: 1px solid #ccc;
  border-bottom: none;
  border-radius: 0;
}

.pane-frame {
  border: solid 3px #ffcb00;
  border-radius: 4px;
}
table.pane {
  width: 100%;
  border-collapse: collapse;
  border: .0625rem solid #ccc;
  border: 1px #bbb solid;
}
div.pane-header {
  font-weight: bold;
  padding-right: 24px;
  background: white;
  text-transform: uppercase;
}

.bigtable th {
  font-weight: bold;
  border: none;
  background-color: white;
  padding: 6px 4px;
  white-space: nowrap;
}

#side-panel {
    border-right: .1rem solid #9a9a9a;
}

#side-panel .pane-frame:hover, #side-panel .pane-frame.mouseover {
      border: solid 5px #ffcb00;
}

#jenkins .yui-button.primary .btn, #jenkins .yui-button.primary button {
    background: #fffefa;
    border: .1rem solid #001022;
    color: #001022;
}

#pipeline-box .table-box .table-viewPort {
    box-shadow: none;
    border: none;
}

#pipeline-box .table-box tr.header th {
    border-bottom: .125rem solid #001022 !important;
    border-bottom: 0 !important;
    border-right: 0 !important;
    border-left: 0 !important;
    border-top: .125rem solid #001022 !important;
    background: white !important;
}

#pipeline-box .table-box .table-viewPort tr.totals .cell-color {
    box-shadow: none !important;
    background: #001022 !important;
    color: white !important;
}

.stackedBarChart .stackedBarChart.inner .bar.highlight {
    background: #ffcb00 !important;
    box-shadow: none !important;
}
.stackedBarChart .stackedBarChart.inner .bar {
    box-shadow: none !important;
    background: white !important;
}

#pipeline-box .table-box tr td .duration {
    border-radius: 0 !important;
}

.changeset-box.no-changes {
    border-radius: 0 !important;
}

.jobsTable .stage-start-time .date {
    background-color: #ffcb00 !important;
}

.jobsTable .jobName .badge {
    border-radius: 0;
}

#description-link {
    display: inline-block;
    box-sizing: border-box;
    padding: .75rem .5rem;
    font-weight: 700;
    background: #fffefa;
    border: .1rem solid #001022;
    color: #001022;
}

#jenkins .yui-button.primary .btn, #jenkins .yui-button.primary button,
#jenkins .jenkins-config table .bottom-sticker .yui-button.primary button, #jenkins .jenkins-config table #bottom-sticker .yui-button.primary button {
    display: inline-block;
    border: 0;
    min-width: 7.25rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #ffcb00;
    color: #001022;
    border-radius: 0;
}

#jenkins .yui-button.primary .btn:hover, #jenkins .yui-button.primary button:hover, #jenkins .yui-button.primary .hover {
    background-color: #ffe788;
    border: none;
}

#jenkins .yui-button .btn, #jenkins .yui-button button,
#jenkins .jenkins-config table .bottom-sticker .yui-button button, #jenkins .jenkins-config table #bottom-sticker .yui-button button,
#yui-gen4-button {
    background: #fffefa;
    border: .1rem solid #001022;
    line-height: 2.2rem;
    cursor: pointer;
    border-radius: 0;
}

.manage-option:hover {
    border: .1rem solid #001022;
    border-radius: 0;
    background-color: #fafafa;
}

.setting-input {
    border-radius: 0 !important;
    height: 3rem !important;
    border: .0625rem solid #ccc !important;
    padding: .5rem !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    font-family: inherit !important;
}

.setting-input:focus {
    border: .0625rem solid #ccc;
    border-width: .2rem;
}

.jenkins-config-widgets .form-config.tabBarFrame .config-section-activators {
    background: white;
}

.jenkins-config-widgets .form-config.tabBarFrame .tabBar .tab.active {
    background: white;
    border-right: 0;
    border-left: 0;
    border-top: 0;
    border-bottom: .125rem solid #001022;
}

.jenkins-config-widgets .form-config.tabBarFrame .tabBar .tab:hover {
    background: #001022;
    color: white !important;
}

